<?xml version="1.0" encoding="UTF-8"?>
<server description="Registration Server">
    <include location="datasource.xml" />
    <include location="features.xml" />
    <include location="logging.xml" />
  <!-- To access this server from a remote client (which we do with docker)
       add a host attribute to the following element, e.g. host="*"
    -->
  <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443" host="*"/>
  <applicationMonitor updateTrigger="mbean" />
</server>

